.git
.gitignore
docker
node_modules
vendor
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
bootstrap/cache/*
.env
.env.*
!.env.example
.phpunit.result.cache
phpunit.xml
tests
README.md
.dockerignore
.railwayignore
*.log
*.sqlite
*.sqlite3
database/database.sqlite
*.md
.vscode
.idea
*.swp
*.swo
*~